<div class="container">
  <div id="calculator" class="calculator">
    <div class="display">
      <input
        type="text"
        id="result"
        class="result"
        [value]="currentNumber"
        disabled
      />
    </div>
    <div class="keypad">
      <button
        style="background-color: #f06543"
        (click)="handleButtonPress('AC')"
      >
        AC
      </button>
      <button (click)="handleButtonPress('DEL')">DEL</button>
      <button (click)="handleButtonPress('%')">%</button>
      <button class="operator" (click)="handleButtonPress('/')">/</button>
      <button (click)="handleButtonPress('1')">1</button>
      <button (click)="handleButtonPress('2')">2</button>
      <button (click)="handleButtonPress('3')">3</button>
      <button class="operator" (click)="handleButtonPress('*')">*</button>
      <button (click)="handleButtonPress('4')">4</button>
      <button (click)="handleButtonPress('5')">5</button>
      <button (click)="handleButtonPress('6')">6</button>
      <button class="operator" (click)="handleButtonPress('-')">-</button>
      <button (click)="handleButtonPress('7')">7</button>
      <button (click)="handleButtonPress('8')">8</button>
      <button (click)="handleButtonPress('9')">9</button>
      <button class="operator" (click)="handleButtonPress('+')">+</button>
      <button (click)="handleButtonPress('0')">0</button>
      <button class="decimal" (click)="handleButtonPress('.')">.</button>
      <button class="equal" (click)="handleButtonPress('=')">=</button>
    </div>
  </div>
</div>
